{% extends "base.html.twig" %}

{% block body %}
<body style="background-color:#E3CFCD">
  <!-- Main Content -->
 <!-- Contact Section -->
    <section class="page-section" id="contact">
        <div class="container jumbotron" style="background-color:white">
          <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
              <h2 class="mt-0">Erreur 500</h2>
              <hr class="divider my-4">
              <p class="text-muted mb-5">Erreur Serveur</p>
            </div>
          </div>
        </div>
    </div>
   </section>
</body>
{% endblock %}
