{% extends "base.html.twig" %}

{% block body %}
<body>

  <!-- Page Header -->
  <header id="mastList" class="masthead" style="background-image: url('public/img/home-bg.jpg'); height:200px;">
    <div class="overlay" style="background-color:rgba(240, 225, 224, 0.6)"></div>
    <div class="container">
      <div class="row" style="height: 200px;"></div>
      <div class="row text-center">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Connexion</h1>
            <span class="subheading"></span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row" style="margin:75px">
      <div class="col-lg-8 col-md-10 mx-auto">
          
          
      </div>
    </div>
  </div>
</body>
{% endblock %}
