{% extends "base.html.twig" %}

{% block body %}
<body style="background-color:#E3CFCD">
  <!-- Main Content -->
 <!-- Contact Section -->
    <section class="page-section" id="contact">
        <div class="container jumbotron" style="background-color:white">
          <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
              <h2 class="mt-0">Profil utilisateur</h2>
              <hr class="divider my-4">
              <p class="text-muted mb-5">Mettez à jour votre mot de passe</p>
            </div>
          </div>
          <div class="row">
              <div class="col-3 offset-1 text-left">
                  <h4 class="mb-30" style="margin-bottom:30px">Informations personnelles</h4>  
                  <a href="index.php?action=profile">Modification des informations</a>
              </div>
              <div class="col-6 offset-1 text-center">
                  <h4 class="text-left mb-30" style="margin-bottom:30px">Mise à jour du mot de passe</h4>  
                  <form name="updatePasswordForm" id="updatePasswordForm" action='index.php?action=updatePassword' method="post">
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                            <input type="password" class="form-control" placeholder="Mot de passe" id="firstPassword" name="firstPassword" required data-validation-required-message="Entrez votre mot de passe">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                            <input type="password" class="form-control" placeholder="Confirmation du mot de passe" id="secondPassword" name="secondPassword" required data-validation-required-message="Entrez votre mot de passe">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <br>
                    <div id="success"></div>
                    <div class="form-group text-center">
                      <button type="submit" class="btn btn-primary btn-xl" id="userUpdateSubmitPassword" name="userUpdateSubmitPassword">Mettre à jour</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
   </section>
</body>
{% endblock %}
